<div class="modal-header">
  <h4 class="modal-title">Réserver le service</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelBooking()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>{{ service.title }}</h5>
  <p><strong>Categorie: </strong>{{ service.category }}</p>
  <p class="single-product-pricing"><span>Prix par jour: </span> {{ service.price | number:'1.0-0' }}dt</p>
  <figure class="product-image"><img [src]="service.image" alt="Service Image" class="booking-image"></figure>

  <form>
    <div class="form-group">
      <label for="date">Choisir une date:</label>
      <input type="date" id="date" name="date" class="form-control" [(ngModel)]="selectedDate" required>
    </div>
    <div class="form-group">
      <label for="time">Choisir l'heure:</label>
      <input type="time" id="time" name="time" class="form-control" [(ngModel)]="selectedTime" required>
      <small class="form-text text-muted">Svp choisir l'heure que vous convient.</small>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelBooking()">Annuler</button>
  <button type="button" class="btn btn-primary" (click)="confirmBooking()">Confirmer</button>
</div>
