<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text" *ngIf="service">
                    <p>Read the Details</p>
                    <h1>{{ service.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- end single product -->
<div *ngIf="service" class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img [src]="service.image" alt="Service Image">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{ service.title }}</h3>
                    <p><strong>Categories: </strong>{{ service.category }}</p>
                    <p class="single-product-pricing"><span>Prix</span>{{ service.price | number:'1.0-0' }}dt</p>
                    <p>{{ service.description }}</p>
                    <!-- Star Rating Icon -->
                    <div class="single-product-rating">
                        <!-- <h4>Rating:</h4> -->
                        <div>
                            <a class="cart-btn" (click)="openBookingModal()"><i class="fas fa-calendar-alt"></i> Réserver ce service</a>
                    <!-- Add share buttons or links here -->
                    <h4>Share:</h4>
						<ul class="product-share">
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin"></i></a></li>
						</ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-comments></app-comments>