<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">A propos nous</h2>
                    <p> MAHARATI garantit des services de qualité, la tranquillité d'esprit et la commodité pour tous ses utilisateurs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>2240, Rue Riadh, Tozeur, Tunisie.</li>
                       <a><li>maharati.services@gmail.com</li></a> 
                        <li>+216 27 938 978</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/about" routerLinkActive="active">A Propos Nous</a></li>
                        <li><a routerLink="/servicelist" routerLinkActive="active">Services</a></li>
                        <li><a routerLink="/providerlist" routerLinkActive="active">Providers</a></li>
                        <li><a routerLink="/contact" routerLinkActive="active">Contacter Nous</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Abonnez-vous à notre liste de diffusion pour recevoir les dernières mises à jour.</p>
                    <form (ngSubmit)="onSubmit()">
                        <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2024 - <a href="">Aouididi Dhouha</a>,  All Rights Reserved.<br>
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->
