<!-- search area -->
<div class="search-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="close-btn"><i class="fas fa-window-close"></i></span>
          <div class="search-bar">
            <div class="search-bar-tablecell">
              <h3>Search For:</h3>
              <input type="text" placeholder="Keywords">
              <button type="submit">Search <i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end search arewa -->
<!-- header -->
<div class="top-header-area" id="sticker" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a routerLink="/" routerLinkActive="active">
                            <img src="assets/img/logo_maharati.png" alt="">
                        </a>
                    </div>
                    <!-- logo -->
  
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                          <li class="current-list-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
                      
                            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                            <li><a routerLink="/providerlist" routerLinkActive="active">Providers</a>
                           
                            <li *ngIf="isLoggedIn"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                            <li>
                                <!-- <div class="header-icons"> -->
                                    <!-- <a class="mobile-hide search-bar-icon"><i class="fas fa-search"></i></a> -->
                                    <li *ngIf="isLoggedIn">
                                    <a class="shopping-cart" routerLink="/bookings" routerLinkActive="active">Réservations  <i class="fas fa-calendar-alt"></i></a>
                                    </li>
                                    <li *ngIf="!isLoggedIn">
                                    <a class="signin-icon white-icon" routerLink="/login" routerLinkActive="active"><i class="fas fa-user"></i></a>
                                </li>
                                <li *ngIf="isLoggedIn"><a href="#">{{username}}</a>
                                  <ul class="sub-menu">
                                    <li><a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link active">Profile</a></li>
                                      <li><a  href="#" class="nav-item nav-link active" (click)="logout()">LogOut</a></li>
                                    </ul>
                                  </li>
                                <!-- </div> -->
                            <!-- </li> -->
                        </ul>
                    <!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->
                    <!-- <div class="mobile-menu"></div> -->
                  </nav>

                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- end header -->
 
